:root {
  --blackInk: #031927;
  --SkyBlue: #82c8e5;
  --whiteSmoke: #f2f0ef;
  --eletricPurple: #7f00ff; /* Corrigi a cor aqui */
  --vibrantYellow: #ffde21; /* Corrigi a cor aqui */
} /* Sem o ponto e vírgula aqui! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Faz o link assumir a cor do texto ao redor (preto, por exemplo) */
}

body {
  background-color: var(--whiteSmoke);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
}

.navbar {
  font-family: "Judson";
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
}

.button-forgive,
.start {
  display: inline-block; /* Garante que respeitem as margens */
  margin: 20px auto; /* Centraliza o botão */
  width: 256px;
  height: 64px;
  border-radius: 100px;
  border: 0;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none; /* Caso use tag <a> */
  line-height: 64px; /* Centraliza o texto dentro do botão */
  margin-top: 20px;
}


h4 {
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 36px;
}

.slots {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 12px black;
    width: 200px;
    border-radius: 20px;
    height: 200px;
    gap: 40px; /* Espaçamento entre os slots */
    margin-top: 80px;
    background-color: var(--SkyBlue);
}

.roll {
  margin-top: 15px;
  color: var(--whiteSmoke);
  font-size: 36px;
  width: 152px;
  height: 64px;
  border: none;
  border-radius: 200px;
  background-color: var(--blackInk);
}

.correct {
  color: var(--vibrantYellow);
}

.expectedValue{
  font-size: 36px;
}

.button-continue {
  margin-top: 30px;
  margin-left: 75%;
  margin-bottom: 30px;
  font-size: 18px;
  color: white;
  width: 132px;
  height: 47px;
  background-color: var(--blackInk);
  border: none;
  border-radius: 400px;
}